@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font: normal normal normal 32px/40px 'Lato', sans-serif;
}
h2 {
    font: normal normal normal 24px/30px 'Lato', sans-serif;
}
.record {
    font: normal normal normal 16px/30px 'Lato', sans-serif;
    #log, #inprogress {
        font-size: 10px;
    }
}
button#start {
    font: normal normal normal 14px/30px 'Lato', sans-serif;
    margin: 20px 0;
    height: 30px;
    background: rgb(77, 22, 228);
    border: none;
    border-radius: 2px;
    color: white;
}
input#shareLink {
    font-family: monospace;
    cursor: pointer;
    width: 400px;
}
.link {
    color: blue;
}
#status {
    font: normal normal bold 16px/20px 'Lato', sans-serif;
}
#tally {
    .gameTable {
        tr {
            td {
                height: 10px;
                width: 10px;
                content: "";
            }
        }
    }
}
#gameTable {
    tr {
        td {
            border-bottom: 1px solid #333;
            border-right: 1px solid #333;
            height: 160px;
            width: 160px;
            text-align: center;
            &:last-child {
            border-right: none;
            }
            &.dim {
                opacity: 0.3;
                &.highlight {
                    opacity: 1;
                }
            }
            &.highlight {
                opacity: 1;
            }
        }
        &:last-child {
            td {
            border-bottom: none;
            }
        }
    }
}

.hide {
    display: none !important;
}

.tooltip {
    position: relative;
    display: inline-block;
    .tooltiptext {
        visibility: hidden;
        width: 140px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -75px;
        opacity: 0;
        transition: opacity 0.3s;
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }
    }
    &:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
}